@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
  font-family: 'poppins';
  padding: 0;
  margin: 0;
}

hr {
  background-color: black;
  padding: 0.5px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 5px;
  margin-bottom: 15px;
}
body {
  background-image: linear-gradient(
    360deg,
    rgb(96, 156, 176),
    #b56d0fa5,
    #2f485f
  );
}
.PgHeader {
  margin-top: 1em;
  background-color: white;
  border-radius: 25px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.379);
}
.containing {
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  margin: 25px;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.379);
}
h1 {
  color: #145b99;
}
ul {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
}
a {
  font-weight: bolder;
  font-size: large;
  text-decoration: none;
  color: #145b99;
  transition: color 0.5s ease;
  word-spacing: 2px;
}
button {
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: ;
  font-family: 'poppins';
  font-size: large;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: #145b99;
  background-color: white;
  transition: color 0.5s ease;
}
button:hover {
  background-color: #145b99;
  color: white;
}
a:hover {
  color: #e0840b;
  cursor: pointer;
}
li {
  display: flex;

  display: inline;
}
.Work {
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 20px;
  letter-spacing: 2px;
  word-spacing: 20px;
}
span {
  color: #e0840b;
}
.hrWR {
  width: 12em;
}
.para {
  text-align: justify;
  width: 68%;
  margin-right: 10px;
  margin-top: 15px;
}
.picWord {
  color: white;
  font-size: larger;
  position: absolute;
  top: 70%;
  left: 20%;
}

.wrkContent {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.container {
  display: flex;
  justify-content: right;
}

.muscle {
  margin-top: 25px;
  margin-left: 15px;
  width: 420px;
  height: 415px;
  border-radius: 10px;
}

#aboutUs {
  padding-top: 10px;
  margin-left: 45px;
  word-spacing: 15px;
  letter-spacing: 5px;
}

.videoAboutUs {
  display: flex;
  justify-content: space-between;
}
.num2 {
  margin-left: 10px;
  margin-bottom: 15px;
}

.video {
  margin-top: 40px;
  margin-right: 15px;
}
.contHeading {
  margin-left: 30px;
  margin-top: 10px;
}
.contPara {
  font-weight: bolder;
  display: flex;
  margin-left: 55rem;
  margin-bottom: 5px;
  word-spacing: 2px;
  justify-content: space-between;
  margin-right: 10px;
}
.biceps {
  position: absolute;
  bottom: -1450px;
  left: 60px;
}
.footerPara {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin: 25px;
}
.Line {
  margin-left: 45px;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

textarea {
  margin-bottom: 10px;
  border-radius: 10px;
}
label {
  color: white;
}

.sectionCont {
  background-color: #2f485fc1;
  margin-right: 500px;
  margin-left: 500px;
  border-radius: 10%;
  padding: 30px;
  margin-bottom: 30px;
}
